---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home page";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Based layout</h2>
	<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there", "WTF?", "OMGGGG", "Hey you"]} />
</BaseLayout>
